.navbar{
      margin-bottom:0;
    
    }
    .navbar-brand{
      padding-top:0;
        padding-left:0;
    }
    .icon-bar{
      background-color:white;
    }
    a{
      color:white;
      font-weight:normal;
      font-size:20px;
    }
    .nav>li>a:hover {
      background-color:black;
      color:white;
    }
    .add .carousel-inner{
      height:500px;
    }
    .site-footer{
      margin-top: 30px;
      background-color: #26272b; 
      padding-top:10px;
      font-size:15px;
      line-height:24px;
      color:#737373;
    }
    .site-footer hr
    {
      border-top-color:#bbb;
      opacity:0.5
    }
    .site-footer hr.small
    {
      margin:20px 0
    }
    .site-footer h6
    {
      color:#fff;
      font-size:16px;
      text-transform:uppercase;
      margin-top:5px;
      letter-spacing:2px
    }
    .site-footer a
    {
      color:#737373;
    }
    .site-footer a:hover
    {
      color:#3366cc;
      text-decoration:none;
    }
    .footer-links
    {
      padding-left:0;
      list-style:none
    }
    .footer-links li
    {
      display:block
    }
    .footer-links a
    {
      color:#737373
    }
    .footer-links a:active,.footer-links a:focus,.footer-links a:hover
    {
      color:#3366cc;
      text-decoration:none;
    }
    .footer-links.inline li
    {
      display:inline-block
    }
    .site-footer .social-icons
    {
      text-align:right
    }
    .site-footer .social-icons a
    {
      width:40px;
      height:40px;
      line-height:40px;
      margin-left:6px;
      margin-right:0;
      border-radius:100%;
      background-color:#33353d
    }
    .copyright-text
    {
      margin:0
    }
    @media (max-width:991px)
    {
      .site-footer [class^=col-]
      {
        margin-bottom:30px
      }
    }
    @media (max-width:767px)
    {
      .site-footer
      {
        padding-bottom:0
      }
      .site-footer .copyright-text,.site-footer .social-icons
      {
        text-align:center
      }
    }
    .social-icons
    {
      padding-left:0;
      margin-bottom:0;
      list-style:none
    }
    .social-icons li
    {
      display:inline-block;
      margin-bottom:4px
    }
    .social-icons li.title
    {
      margin-right:15px;
      text-transform:uppercase;
      color:#96a2b2;
      font-weight:700;
      font-size:13px
    }
    .social-icons a{
      background-color:#eceeef;
      color:#818a91;
      font-size:16px;
      display:inline-block;
      line-height:44px;
      width:44px;
      height:44px;
      text-align:center;
      margin-right:8px;
      border-radius:100%;
      transition:all .2s linear;
      transition:all .2s linear;
      transition:all .2s linear
    }
    .social-icons a:active,.social-icons a:focus,.social-icons a:hover
    {
      color:#fff;
      background-color:#29aafe
    }
    .social-icons.size-sm a
    {
      line-height:34px;
      height:34px;
      width:34px;
      font-size:14px
    }
    .social-icons a.facebook:hover
    {
      background-color:#3b5998
    }
    .social-icons a.twitter:hover
    {
      background-color:#00aced
    }
    .social-icons a.linkedin:hover
    {
      background-color:#007bb6
    }
    .social-icons a.dribbble:hover
    {
      background-color:#ea4c89
    }
    @media (max-width:767px)
    {
      .social-icons li.title
      {
        display:block;
        margin-right:0;
        font-weight:600
      }
    } 
    @media only screen and (max-width: 768px) {
    
    header{
      height:200px;
    }
    header img{
      height:200px;
    }
    .add .carousel-inner{
      height:350px;
    }
    .add .carousel-inner .item{
      height:350px;
    }
    
    footer {
      background-color: #555;
      color: white;
      font-size:15px;
      padding-top:5px;
      padding-bottom:0px;
    }
    }
    .t-shirt, .shoes, .jersey{
      padding-top: 30px;
      padding-right: 0px;
    }
    .jersey{
      padding-bottom: 50px;
    }
    .slide{
      background-color: white;
    }
    .carousel-control {
      position: static;
      width: 15%;
      font-size: 20px;
      color: #000000;
      text-align: center;
      opacity: 1;
    }
    .flip-card {
      background-color: transparent;
      width: 100px;
      margin-left: 105px;
      height: 100px;
      perspective: 1000px;
    }

    .flip-card-inner {
      position: relative;
      width: 100px;
      height: 100px;
      text-align: center;
      transition: transform 0.6s;
      transform-style: preserve-3d;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }

    .flip-card:hover .flip-card-inner {
      transform: rotateY(180deg);
    }

    .flip-card-front, .flip-card-back {
      position: absolute;
      width: 100px;
      height: 100px;
      backface-visibility: hidden;
    }

    .flip-card-front {
      background-color: #bbb;
      color: black;
    }

    .flip-card-back {
      background-color: #40E0D0;
      color: white;
      padding-top: 10px;
      transform: rotateY(180deg);
      font-size:11px;
    }
    .container-fluid {
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        margin-right: 0px;
        margin-left: 0px;
    }
    .show{
      background-color:#7FFFD4;
      padding-top: 10px;
      padding-bottom: 20px;
    }
    .nike1{
      padding-top: 30px;
      margin-left: 20%;
      margin-right: 20%;
    }